<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Repository</title>
</head>
<body>
    <h1>Add Repository</h1>
    <form action="/" method="post">
        <label for="owner">Owner:</label><br>
        <input type="text" id="owner" name="owner"><br>
        <label for="repo">Repository:</label><br>
        <input type="text" id="repo" name="repo"><br><br>
        <input type="submit" value="Submit">
    </form>
    <h2>Repositories to Watch</h2>
    <ul>
        {% for repository in repositories %}
            <li>{{ repository.owner }} / {{ repository.repo }}</li>
        {% endfor %}
    </ul>
</body>
</html>
